

#search-results {
	list-style-type: none;

}
#search-results  div {
	border: 1px solid black;
	padding-left:1em;
}

#search-results li {
	margin : 1em 2em;
}

#search-results img {
	width: 300px;
	margin: 1em auto;
}
